body{
    background-image: url(../images/hasan-albari.jpg);
    background-size: cover;
}

.entete{
    text-align: center;
    font-size: 30px;
    font-family: arial black;
    color: white;
    margin-top: 40px;
    background-image: url(../images/fwstudio.jpg);
}

.entete1{
    text-align: center;
    font-size: 30px;
    font-family: arial black;
    color: white;
    margin-top: 40px;
}

.pied{
    font-size: 15px;
    font-family: arial black;
    color: white;
    margin-top: 150px;
    background-image: url(../images/fwstudio.jpg);
}
.corps{
    border: 2px solid green;
    background-color: white;
}

.style_1{
    margin-top: 15px;
    margin-left: 15px;
    margin-right: 15px;
}

.style_2{
    background-color: rgb(39, 149, 39);
    color: white;
}

p{
    color: red;
    opacity: 0;
    margin-left: 20px;
    margin-top: -10px;
    font-size: 10px;
}

th{
    text-align: center;
    color: white;
    font-size: 16px;
    font-family: a;
}